<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head  th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<title>IDEAragon &#62; Aplicaciones &#62; Fichas NOTEPA</title>
	<link rel="shortcut icon" href="/lib/IDEAragon/themes/default/images/i/favicon.ico"	type="image/x-icon"></link>
	<meta name="dcterms.creator" content="GOBIERNO DE ARAGON"></meta>
	<meta name="geo.placename" content="Zaragoza, Spain"></meta>
	<meta name="keywords" content="Atlas, Aragón, Geografía, Cartografía, Mapa, Documento, Informativo, Territorial, Parque, Paisaje, Dominios, Sendero, Turismo, Riesgo, Susceptibilidad, Colapso, Deslizamiento, Inundación, Viento, Precipitación, Lluvia, Temperatura, Radiación, Evapotranspiración, Balance, Aridez, Cuenca, Masía, Porcino, Bovino, Ovino, Caprino, Aves, Plataforma, Logística, Polígono, Central, Térmica, Eólica, Camping, Balneario, Refugio, Montaña, Estación, Esquí, Hostal, Alojamiento, Hotel, Albergue, Turismo, Apartamento, Canal, Regadío, Secano, Lonja, Comercio, DOP, VAB, Infantil, Primaria, Secundaria, Bachillerato, Hospital, Lluvia, Insolación, Evaporación, Salario, Pensión, Desempleo, Impuesto, Bien, Inmueble, Ingreso, Gasto, Actividad, Empleo, Paro, Afiliación, Seguridad, Social, Accidente, Trabajo, Dependencia, Contrato, Fianza, Alquiler, Vivienda, Local, Deuda, Viva, Masculinidad, Potencialidad, Reemplazamiento, Sobreenvejecimiento, Vejez, Envejecimiento, Juventud, Agricultura, Ganadería, Medioambiente, Medio, Ambiente, Uso, Suelo, Figura, Urbanismo, Urbana, Rústica, Planeamiento, Directriz, Ordenación, Territorio, Transporte, Región, Sector, Instalación, Sanidad, Educación, Comercio, Salud, Bien, Interés, Centro, Industria, Energía, Mina, Explotación, Agropecuaria, Red, Río, Hidrografía, Embalse, Pantano, Lago, Laguna, Árbol, Singular, Entidad, Núcleo, Demografía, Nacimiento, Defunción, Natalidad, Mortalidad, Juventud, Feminidad, Extranjero, Inmigración, Emigración, Paro, Residencia, Población, Habitante, Municipio, Comarca, Provincia, Migración, Saldo, Forestal, CLC, Corine, Land, Cover, Justicia, Religión, Diocésis, Archidiócesis, Caza, Pesca, Vía, Pecuaria, Especie, Amenazada, Humedal, LIC, LIG, ZEPA, Parque, Nacional, Natural, Clima, Climatología, Ebro, Pirineos, Sistema, Ibérico, Carretera, Ferrocarril, BIC, Yacimiento, Arqueología, Patrimonio, Cultura, Estación, Aeropuerto, Descarga, Visualización, Incendio, Límite, Actividad, Económica, Equipamiento, Pendiente, Orientación, Sismicidad, Fallas, Radiación, Altitud, OCAS, Isócrona, Infantil, Primaria, Secundaria, Bachillerato, Hospital, Infraestructura, Dato, Espacial, IDE"></meta>
	<meta name="dcterms.title" content="Atlas de IDEAragon: Infraestructura de Datos Espaciales de Aragon"></meta>
	<meta name="description" content="Atlas de IDEAragon: Infraestructura de Datos Espaciales de Aragon"></meta>
	<meta name="dcterms.extent" content="global"></meta>
	<meta name="dcterms.type" content="Document"></meta>
	<meta name="robots" content="all" />
	<meta name="revisit-after" content="3 days"></meta>
	<meta name="designer" content="Idearium Consultores SL - www.idearium-consultores.com"></meta>
	<meta name="author" content="© Gobierno de Arag&oacute;n - www.aragon.es"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>



	<link rel="stylesheet" href="/lib/font-awesome/fontawesome-free-5.9.0-web/css/all.css"></link>
	<link rel="stylesheet" type="text/css" href="/portal/styles/idearagon.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/app.css}" href="resources/themes/default/app.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/header.css}" href="resources/themes/default/header.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/themes/default/footer.css}" href="resources/themes/default/footer.css"></link>

	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-107379398-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-107379398-4');
	</script>
</head>

<body>
<div id="mainPage" data-role="page">
    <div th:replace="index :: header" >
    </div>

    <div id="content">
        <div class="centro_cuadro" style="display: flex; justify-content: center;">
            <h1>Error interno de servidor. </h1>
        </div>
    </div>
</div>

</body>
</html>