<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<title>IDEAragon &#62; Aplicaciones &#62; Buscador de entidades</title>
	<link rel="shortcut icon" href="/lib/IDEAragon/themes/default/images/i/favicon.ico"	type="image/x-icon"></link>
	<meta name="dcterms.creator" content="GOBIERNO DE ARAGON"></meta>
	<meta name="geo.placename" content="Zaragoza, Spain"></meta>
	<meta name="dcterms.title" content="Buscador de IDEAragon: Infraestructura de Datos Espaciales de Aragon"></meta>
	<meta name="description" content="Buscador de IDEAragon: Infraestructura de Datos Espaciales de Aragon"></meta>
	<meta name="dcterms.extent" content="global"></meta>
	<meta name="dcterms.type" content="Document"></meta>
	<meta name="robots" content="all" />
	<meta name="revisit-after" content="3 days"></meta>
	<meta name="designer" content="Idearium Consultores SL - www.idearium-consultores.com"></meta>
	<meta name="author" content="© Gobierno de Arag&oacute;n - www.aragon.es"></meta>

	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

	<link rel="stylesheet" href="/lib/font-awesome/fontawesome-free-5.9.0-web/css/all.css"></link>

	<link rel="stylesheet" type="text/css" href="/portal/styles/idearagon.css"></link>


	<link rel="stylesheet" th:href="@{/resources/jquery.mobile-1.4.4/jquery.mobile-1.4.4.min.css}" href="resources/jquery.mobile-1.4.4/jquery.mobile-1.4.4.min.css"></link>



	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-107379398-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-107379398-4');
	</script>

	<script src="/lib/jquery/jquery_1.12.4.min.js"></script>


	<script src="/lib/jquery/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>


	<script th:src="@{/resources/js/busqueda.js}" src="resources/js/busqueda.js"></script>
<link th:href='@{/resources/themes/default/app.css}' rel='stylesheet' type='text/css'></link>
<script src="/BuscadorCajaUnica/config/tipos.js"></script>
	<script src="/lib/jquery/jquery.ui.touch-punch.min.js"></script>


	<link href='https://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'></link>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
</head>

<body>
	<div id="mainPage" data-role="page">


		<div id="content" >
			<div class="centro_cuadro">

				<div class="input-group-buscador">
					<input id="search-input" type="search" name="q" th:value=${query} value="" >
					<span class="input-group-btn-buscador">
						<button id="btn-buscador" onclick="iniciarBusqueda()" type="submit" value="search"><span class="bipoicon icon-lupa hidden-xs"></span>Buscar</button>
					</span>
						<span class="input-group-btn-buscador">
						<button id="btn-solr" onclick="iniciarBusquedaSolr()" type="submit" value="search"><span class="bipoicon icon-lupa hidden-xs"></span>Solr</button>
					</span>
				</div>

<!-- div style="border:1px solid black" th:if="${resultados!=null and resultados[0].sparql!=null}" id="infobox" th:text="${resultados[0].sparql}"></div-->

				<h1 style="display:inline; margin-left:15px;" th:text=${total}></h1> resultados
				
				<div th:if="${resultados!=null}">
					<ul class="list-unstyled" th:each="resultado : ${resultados}">
						<li class="item-item-titulo">
							<a th:if="${resultado.itemType=='Place' and resultado.type[0]!='toponimo' and !#strings.startsWith(resultado.type[0],'Coordenadas')}" class="resultado" th:href="'/visor/index.html?ACTIVELAYER='+${resultado.type[0]}+'&QUERY=objectid='+${resultado.id}" href="#" title="Ver más" rel="external" target="_blank"><i th:classappend="${#strings.toLowerCase(resultado.type[0])}" class="fas"></i>
							<span class="titulo" th:text="${resultado.name}"></span><i class="fas fa-map-marked-alt  fa-2x"></i>
							</a>
							<a th:if="${resultado.itemType=='Place' and (resultado.type[0]=='toponimo' or #strings.startsWith(resultado.type[0],'Coordenadas'))}" class="resultado" th:href="'/visor/index.html?BOX='+${resultado.x-1000}+':'+${resultado.y-1000}+':'+${resultado.x+1000}+':'+${resultado.y+1000}+'&MARKERX='+${resultado.x}+'&MARKERY='+${resultado.y}" href="#" title="Ver más" rel="external" target="_blank"><i th:classappend="${#strings.toLowerCase(resultado.type[0])}" class="fas"></i>
							<span class="titulo" th:text="${resultado.name}"></span>><i class="fas fa-map-marked-alt  fa-2x"></i>
							</a>
							<a th:if="${resultado.itemType=='Entity'}" class="resultado" th:href="'javascript:mostrarResultado(\''+${resultado.id}+'\')'" href="#" title="Ver más" rel="external"><i th:utext="${resultado.icon}"></i>
							<span class="titulo" th:text="${resultado.name}"></span><i class="fas fa-file-invoice fa-2x"></i>
							</a>
							
						</li>
<li th:if="${resultado.image!=null and resultado.image.contentUrl!=null and resultado.image.contentUrl!=''}" class="thumbnail">
							<a th:href="${resultado.image.url}" target="_blank" title="Ampliar información"><img th:src="${resultado.image.contentUrl}"></img></a>
						</li>
						<!-- li th:if="${resultado.comment!=null}" class="abstract">
							<p th:utext= "${resultado.comment}"><p>
						</li-->


					</ul>


					<div data-role="controlgroup" data-type="horizontal" data-mini="true" style="text-align: center;">
					<a th:each="pag:${#numbers.sequence(1, paginas)}" th:onclick="'buscar(\''+${query}+'\','+${pag}+')'" th:classAppend="(${pag==pagina} ? pag_actual : foo )" class="ui-btn ui-corner-all" th:text=${pag}></a>
					</div>
				</div-->

			</div>
		</div>
	</div>

<!-- script th:inline="javascript">
				var sparql_url = /*[[${sparql_url}]]*/;
			//	var sparql_query = /*[[${sparql_query}]]*/;
			//	var resultados = /*[[${resultados}]]*/;
				</script-->
</body>
</html>
