body, input, select, textarea, button, .ui-btn {
	font-family: "Open Sans", sans-serif;
}
#loadingOverlay {
    position: absolute;
    text-align: center;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

#loading {
    opacity: 0.5;
    background-image: url(/lib/IDEAragon/themes/default/images/hidden.png);
    width: 100%;
    height: 100%;
}
#loadingGif {
    margin-left: -45px;
    position: absolute;
    bottom: 50%;
}
.fooicon {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
}
.thumbnail img{
	max-width: 100px;
}

.pag_actual{
background:#0071bc; 
color:#FFF !important;

}

.resultado svg{
	width:15px;
}

div#infobox {
    float: right;
    width: 300px;
}